.container {
  margin: 0 auto;
}

hr {
  border: 1px solid #000000;
  width: 100%;
}
.block-titles {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin-left: 20px;
}
.indicator {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}
.content {
  padding-left: 5%;
  padding-bottom: 5%;
}

/*text styles*/

h1 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 42px;
  /* OC - Green */
  color: #146165;
}
h2 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 32px;
  /* or 107% */
  /* OC - Orange */
  color: #db4325;
}
h2.green {
  font-family: Kanit;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 32px;
  /* or 107% */
  color: #146165;
}
h3 {
  font-family: Kanit;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  /* or 108% */
  /* OC - Green */
  color: #146165;
}
h3.orange {
  font-family: Kanit;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  /* or 110% */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* OC - Orange */
  color: #db4325;
}
h4 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px; /* or 106% */
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #db4325;
  /*  display: flex;
  align-items: flex-end;*/
}
h5 {
  font-family: Kanit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  /* or 112% */
  color: #146165;
}
.text-wrapper {
  display: flex;
  flex-direction: row;
}
.body-text {
  font-family: Kanit;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #345265;
}
.body-text-cursive {
  font-family: Kanit;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #345265;
}
.link-text {
  font-family: Kanit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  /* OC - Orange */
  color: #db4325;
}

/*text blocks*/

.left-block {
  border-left: 3px solid #db4325;
}

.btn {
    background: #DB4325;
border-radius: 40px;
font-family: Kanit;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 26px;
/* or 162% */
align-items: center;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;   
}
.quote-icon{
    color: #E6E6E6;
    font-size:46.88px;
}
.quote-end{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.wrapper {
  display: flex;
  display: inline;
}
